/* styles.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0;
    background-color: #7251B5;
}

h1, h2, h3 {
    margin-bottom: 0;
}

#company-name {
    font-size: 1.5rem;
}

header, footer {
    background-color: #000;
    color: #DEC9E9;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 2em;
}

ol, ul {
    padding: 0;
    list-style: none;
}

.navigation a {
    color: #DEC9E9;
    text-decoration: none;
}

#intro + section {
    background-color: #000;
    color: #DEC9E9;
}

article > img {
    width: 150px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-top: 1em;
}

ol li:nth-child(even) {
    color: #dc33dc;
}

main > img {
    width: 100%;
}